[submodule "LongScintillator"]
	path = LongScintillator
	url = https://github.com/alexkernphysiker/LongScintillator.git
[submodule "FitDistrParam/FitGen"]
	path = FitDistrParam/FitGen
	url = http://github.com/alexkernphysiker/FitGen.git
